# Godot 4+ specific ignores
.godot/
build/
/android/
/.vs/
addons/discord-rpc-gd/bin/discord-rpc-gd.gdextension
addons/discord-rpc-gd/bin/discord-rpc-gd.gdextension.uid
addons/discord-rpc-gd/bin/linux/libdiscord_game_sdk.so
addons/discord-rpc-gd/bin/linux/libdiscord_game_sdk_binding.so
addons/discord-rpc-gd/bin/linux/libdiscord_game_sdk_binding_debug.so
addons/discord-rpc-gd/bin/macos/libdiscord_game_sdk.dylib
addons/discord-rpc-gd/bin/macos/libdiscord_game_sdk_binding.dylib
addons/discord-rpc-gd/bin/macos/libdiscord_game_sdk_binding_debug.dylib
addons/discord-rpc-gd/bin/windows/discord_game_sdk.dll
addons/discord-rpc-gd/bin/windows/discord_game_sdk_binding.dll
addons/discord-rpc-gd/bin/windows/discord_game_sdk_binding_debug.dll
addons/discord-rpc-gd/bin/windows/discord_game_sdk_x86.dll
addons/discord-rpc-gd/bin/windows/~discord_game_sdk_binding_debug.dll
addons/discord-rpc-gd/Debug.svg
addons/discord-rpc-gd/Debug.svg.import
addons/discord-rpc-gd/example.gd
addons/discord-rpc-gd/example.gd.uid
addons/discord-rpc-gd/logo.png
addons/discord-rpc-gd/logo.png.import
addons/discord-rpc-gd/Logo_V2_No_Bg.png
addons/discord-rpc-gd/Logo_V2_No_Bg.png.import
addons/discord-rpc-gd/nodes/assets/Checked.svg
addons/discord-rpc-gd/nodes/assets/Checked.svg.import
addons/discord-rpc-gd/nodes/assets/circle.svg
addons/discord-rpc-gd/nodes/assets/circle.svg.import
addons/discord-rpc-gd/nodes/assets/Unchecked.svg
addons/discord-rpc-gd/nodes/assets/Unchecked.svg.import
addons/discord-rpc-gd/nodes/debug.gd
addons/discord-rpc-gd/nodes/debug.gd.uid
addons/discord-rpc-gd/nodes/Debug.tscn
addons/discord-rpc-gd/nodes/discord_autoload.gd
addons/discord-rpc-gd/nodes/discord_autoload.gd.uid
addons/discord-rpc-gd/plugin.cfg
addons/discord-rpc-gd/plugin.gd
addons/discord-rpc-gd/plugin.gd.uid
addons/discord-rpc-gd/READ_ME_PLEASE.txt
addons/discord-rpc-gd/restart_window.tscn
SCP-087-B-main.7z
